
@{
    ViewBag.Title = "ReservationSuccessFul";
}

<h2 style=" margin-top: 80px;color:green;">Your reservation is successful ...</h2>

@Html.ActionLink("Reservation Menu", "Reservation", "Home", new { area = "" }, new { @class = "btn btn-default" })
