@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
   <br/>


    <address>
        Brookings, SD<br />
        Faculty Drive, <br />
        <abbr title="Phone"></abbr>
        605-691-3104
    </address>

    <address>
        Brookings, SD<br />
        Harvey Dun Street, <br />
        <abbr title="Phone"></abbr>
        605-691-3104
    </address>

    <address>
        <strong>Support:</strong>   <a href="horizonsmart.contact@gmail.com">horizonsmart.contact@gmail.com</a><br />
    </address>
</div>
