@{
    ViewBag.Title = "Inventory";
}
<h2 style=" margin-top: 80px">Administrator</h2>
<br/>

<div class="list-group">

    <a href="#" class="list-group-item active"  style="font-weight:bold; font-size:23px;">
        Administrative actions
    </a>
    @Html.ActionLink("Manage Inventory", "DisplayFoodList", "Food",new { area = "" }, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Reservations", "Reservation", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("View Sales", "DisplaySalesList", "Sales", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
   
</div>