
@{
    ViewBag.Title = "Reservation";
}
<br/><br /><br />

<div class="list-group">

    <a href="#" class="list-group-item active" style="font-weight:bold; font-size:23px;">
        Reservation Menu
    </a>
    @Html.ActionLink("New Reservation", "InsertReservation", "Reservation", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Check My Reservation", "CheckReservation","Reservation", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
    @if (@HttpContext.Current.User.Identity.Name == "horizonsmart.contact@gmail.com")
    {
        @Html.ActionLink("Manage Reservation", "", "Reservation", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
    }
</div>